caption {
    caption-side: top;
    font-size: larger;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .nav-tabs {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

@media only screen and (max-width: 600px) {
    #fixtures {
        font-size: small;
    }
    .table td,
    .table th {
        max-width: 100%;
        white-space: nowrap;
    }
}