nav {
    background-color:#01702a ;
}

hr {
    background-image: linear-gradient(#ad9923,white);
    margin: 0;
    min-height: 15px;
}
 .navbar {
    min-height: 0px;
    margin-top: 1.5%;
    height: auto;
} /*
.navbar-brand {
    min-height: 0px;
    position: absolute;
    left: 50%;
    margin-left: -75px !important;  /* 50% of your logo width 
    display: block;
} */
.navbar-light .navbar-nav .nav-link{
    color: black;
    font-size: 15px;
    

}
.navbar-light .navbar-nav .nav-link:hover{
    color: white;
}
.navButton {
    background-color: white;
    border: 2px solid #555555;
    border-radius: 50px;
    margin:auto;
    
}
.navButton:hover {
  background-color: #555555;
  color: white;
  border: 2px solid #555555;
}
